<div>
    <h2 id="page-heading">
        <span jhiTranslate="wirvsvirusApp.challenge.home.title">Challenges</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-challenge" [routerLink]="['/challenge/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="wirvsvirusApp.challenge.home.createLabel">
            Create a new Challenge
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="challenges?.length === 0">
        <span jhiTranslate="wirvsvirusApp.challenge.home.notFound">No challenges found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="challenges?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="wirvsvirusApp.challenge.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="wirvsvirusApp.challenge.category">Category</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let challenge of challenges ;trackBy: trackId">
                    <td><a [routerLink]="['/challenge', challenge.id, 'view']">{{ challenge.id }}</a></td>
                    <td>{{ challenge.name }}</td>
                    <td>
                        <span *ngFor="let category of challenge.categories; let last = last">
                            <a class="form-control-static" [routerLink]="['/category', category?.id, 'view']">{{ category.name }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/challenge', challenge.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/challenge', challenge.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(challenge)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
