<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="task">
            <h2><span jhiTranslate="wirvsvirusApp.task.detail.title">Task</span> {{ task.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="wirvsvirusApp.task.name">Name</span></dt>
                <dd>
                    <span>{{ task.name }}</span>
                </dd>
                <dt><span jhiTranslate="wirvsvirusApp.task.description">Description</span></dt>
                <dd>
                    <span>{{ task.description }}</span>
                </dd>
                <dt><span jhiTranslate="wirvsvirusApp.task.skill">Skill</span></dt>
                <dd>
                    <span *ngFor="let skill of task.skills; let last = last">
                        <a [routerLink]="['/skill', skill?.id, 'view']">{{ skill.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="wirvsvirusApp.task.userProfile">User Profile</span></dt>
                <dd>
                    <div *ngIf="task.userProfile">
                        <a [routerLink]="['/user-profile', task.userProfile?.id, 'view']">{{ task.userProfile?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/task', task.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
