/* ==========================================================================
Main page styles
========================================================================== */
.heading {
  h1 {
    margin-left: -10%;
    font-size: 7em;
    font-weight: 900;
    margin-bottom: -20px;
  }
  span {
    margin-left: 20%;
  }
  img {
    height: 60px;
    background-color: #aaaaaa;
  }
}

.jumbotron {
  margin-top: -1.5em;
  padding-top: 0.5em;
  margin-left: -3%;
  margin-right: -3%;
}
.welcome-header {
  min-height: 600px;
  .welcome-card {
    .welcome-img {
    }
  }
}
