<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="idea">
            <h2><span jhiTranslate="wirvsvirusApp.idea.detail.title">Idea</span> {{ idea.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="wirvsvirusApp.idea.title">Title</span></dt>
                <dd>
                    <span>{{ idea.title }}</span>
                </dd>
                <dt><span jhiTranslate="wirvsvirusApp.idea.problems">Problems</span></dt>
                <dd>
                    <span>{{ idea.problems }}</span>
                </dd>
                <dt><span jhiTranslate="wirvsvirusApp.idea.description">Description</span></dt>
                <dd>
                    <span>{{ idea.description }}</span>
                </dd>
                <dt><span jhiTranslate="wirvsvirusApp.idea.solution">Solution</span></dt>
                <dd>
                    <span>{{ idea.solution }}</span>
                </dd>
                <dt><span jhiTranslate="wirvsvirusApp.idea.targetAudience">Target Audience</span></dt>
                <dd>
                    <span>{{ idea.targetAudience }}</span>
                </dd>
                <dt><span jhiTranslate="wirvsvirusApp.idea.stakeHolder">Stake Holder</span></dt>
                <dd>
                    <span>{{ idea.stakeHolder }}</span>
                </dd>
                <dt><span jhiTranslate="wirvsvirusApp.idea.slackChannel">Slack Channel</span></dt>
                <dd>
                    <span>{{ idea.slackChannel }}</span>
                </dd>
                <dt><span jhiTranslate="wirvsvirusApp.idea.ministryProject">Ministry Project</span></dt>
                <dd>
                    <span>{{ idea.ministryProject }}</span>
                </dd>
                <dt><span jhiTranslate="wirvsvirusApp.idea.challenge">Challenge</span></dt>
                <dd>
                    <div *ngIf="idea.challenge">
                        <a [routerLink]="['/challenge', idea.challenge?.id, 'view']">{{ idea.challenge?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/idea', idea.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
